@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.containerHeader {
  background-image: url('../../assets/fantasy-banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  row-gap: 170px;
}

.containerHeader section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;

  h1 {
    text-transform: uppercase;
    font-family:  "Nosifer", serif;
    font-size: 35px;
    color: #B20000;
  }

  h2 {
    color:#fff;
    width: 40vw;
    font-size: 20px;
    margin-left: 50px;
  }
}

.containerHeader nav {
  display: flex;
  justify-content: space-between;
  width: 20vw;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  a:hover {
    color: #B20000;
  }
}